<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

  


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-ligth fixed-top" bg-dark style="background-color: blueviolet;color: cornsilk;">
    <div class="container">
      <a class="navbar-brand" href="#">Patitas Callejeras <i class="fas fa-paw"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-paw "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="#">Activity Log</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="login.html">Logout</a>
              </div>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">¡Ayúdalos!</h1>
      <p class="lead">Estos pequeños necesitan algo de ayuda, puedes donar o mejor aún, brindarles un hogar y una nueva esperanza de ser felices.</p>
      <a href="#" class="btn btn-primary btn-lg">Regístrate</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="src/alone-3249953_1920.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Tony</h4>
            <p class="card-text">Macho de 1 año, muy juguetón perfecto para una familia.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
              Adoptar
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="src/cat-4954575_1920.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Mara</h4>
            <p class="card-text">La gatita más tierna del de la fundación, acaba de cumplir 3 años y espera un nueva familia.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Adoptar
          </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="src/cat-5092320_1920.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Lucas</h4>
            <p class="card-text">Tranquilo y con buen caracter, un agato de 2 años perfecto para una buena compañía.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Adoptar
          </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="src/cat-5249722_1920.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Miny</h4>
            <p class="card-text">Es la última de sus hermanos, apenas tiene 4 meses y ya necesita una nueva familia.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Adoptar
          </button>
          </div>
        </div>
      </div>

    </div>
    <div class="row text-center">

      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="src/dog-1037972_1920.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Ana</h4>
            <p class="card-text">Es una perrita muy amorosa, con sus 4 años se encuentra anciosa por encontrar un afamilia.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Adoptar
          </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="src/dog-2726879_1920.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Paco</h4>
            <p class="card-text">Fiel, tiene ya 10 años y vivió muchos de ellos en la calle, pero siempre agardece con su mirada.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Adoptar
          </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="src/dog-3186827_1920.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Laika</h4>
            <p class="card-text">Su fuerza no es mayor que su ternura tiene 3 años y muchas ganas de ser adoptada.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Adoptar
          </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="src/dog-4228972_1920.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Max</h4>
            <p class="card-text">Tiene una increíble energía, le gusta jugar y ama los niños tiene un año.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Adoptar
          </button>
          </div>
        </div>
      </div>

    </div>
    <!-- Button trigger modal -->
 <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Adoptar
</button> -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Formulario Modal-->
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!--fontawesome-->
  <script src="https://kit.fontawesome.com/5a74e8e51c.js" crossorigin="anonymous"></script>

</body>
<!-- /.row -->
</html>
