{% extends 'base/base_workflow.html' %}



{% block desk %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->

  <div class="container ">
    <div class="row">
      <div class="col-sm-9">
        <div class="card mb-3 shadow" style="width: 18rem;">
          <img class="card-img-top shadow-mb" src="../static/img/beagle-t.jpg" alt="">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <h3>¿Desea eliminar el registro de {{ QS_mascota.nombre }}?</h3>
              <button class="btn btn-danger" type="submit">Sí</button>
              <a class="btn btn-primary" href=" {% url 'list' %} ">No</a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->




{% endblock %}