{% extends 'base/base_workflow.html' %}



{% block desk %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Mascotas registradas</h1>
  <p class="mb-4">En esta vista se hallarán los registros de las mascotas registradas en el sistema.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Mascotas</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre Mascota</th>
              <th>Especie</th>
              <th>Raza</th>
              <th>Tamaño</th>
              <th>Sexo</th>
              <th>Edad</th>
              <th>Fecha Rescate</th>
              <th>Estado</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Nombre Mascota</th>
              <th>Especie</th>
              <th>Raza</th>
              <th>Tamaño</th>
              <th>Sexo</th>
              <th>Edad</th>
              <th>Fecha Rescate</th>
              <th>Estado</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </tfoot>
          <tbody>
            {% if mascotas %}
            {% for QS_mascota in mascotas %}
            <tr>
              <td>{{ QS_mascota.id }}</td>
              <td>{{ QS_mascota.nombre }}</td>
              <td>{{ QS_mascota.especie }}</td>
              <td>{{ QS_mascota.raza }}</td>
              <td>{{ QS_mascota.tamaño }}</td>
              <td>{{ QS_mascota.sexo }}</td>
              <td>{{ QS_mascota.edad_aproximada }} años</td>
              <td>{{ QS_mascota.fecha_rescate }}</td>
              <td>{{ QS_mascota.estado }}</td>
              <td>{{ QS_mascota.descripcion_mascota }}</td>
              <td>
                <a class="fas fa-edit" href="{% url 'editar_mascota' QS_mascota.id %}"></a>
                <a class="fas fa-trash-alt" href="{% url 'eliminar_mascota' QS_mascota.id %}"></a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay registros de mascotas</h1>

            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->




{% endblock %}